* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  padding-top: 66px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

.add-new-expense{
  text-align: center;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  width:100px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
 
}